.nav-item .nav-link
{
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 500;

}
.dropdown-menu.dropdown-item
{
    text-align: center;


}
#banner
{
background-image: url(../img5/slider1.jpg);
height: 500px;
background-size: 100% 100%;
}
.boundary
{
    border: 1px solid red;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    height: 250px;
}
    
}
.boundary a:hover{
    background-color: rgb(186, 21, 65);

}